<!DOCTYPE HTML>
<!--
	@autor: Adrián Alonso del Peso
	@project: TFG
-->
<!--
	@doc: Este archivo contiene las partes comunes a todo el dominio (Hojas de estilos, cabeceras, ejecutables, pies, ...)
-->
<html lang="en">
<head>
    <!-- Permite que cada HTML redefina su 'title' -->
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]><script src="static/js/ie/html5shiv.js"></script><![endif]-->

    <!--[if lte IE 8]><link rel="stylesheet" href="static/css/ie8.css" /><![endif]-->

    {#    <script src=""></script>#}

    <!-- Flask -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    <!-- Fin Flask -->

</head>
{% block navbar %} {% endblock %}
<!-- Modificador del comportamiento del body -->
{% block body %} {% endblock %}
<div id="page-wrapper">

    <!-- Header -->
    <!-- Modificador de la cabecera -->
    {% block header %} {% endblock %}
    <h1><a href="/">TFG</a> by Adrián Alonso del Peso</h1>
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="elements">Elements</a></li>

            {% if category == 3 %}
                <li>
                    <a href="#" class="icon fa-angle-down">Usuarios</a>
                    <ul>
                        <li><a href="updateCategory">Cambiar permisos</a></li>
                        <li><a href="validate">Validar usuarios</a></li>
                        <li><a href="generic2"># Registar RFID</a></li>
                        <li><a href="signUp">Alta usuarios</a></li>
                        <li><a href="user/all">Show database</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="icon fa-angle-down">Informes</a>
                    <ul>
                        <li><a href="#">Mostar usuarios</a></li>
                        <li><a href="#">Mostar transito</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="icon fa-angle-down">Base de datos</a>
                    <ul>
                        <li><a href="#"># Borrar</a></li>
                        <li><a href="#"># Back Up</a></li>
                        <li><a href="#"># Restaurar</a></li>
                    </ul>
                </li>

            {% elif category == 2 %}

                <li>
                    <a href="#" class="icon fa-angle-down">Control de acceso</a>
                    <ul>
                        <li><a href="#"># Abrir puerta</a></li>
                        <li><a href="#"># Quien hay en casa</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="icon fa-angle-down">Informes</a>
                    <ul>
                        <li><a href="#"># Mostar usuarios</a></li>
                        <li><a href="#"># Mostar transito</a></li>
                    </ul>
                </li>

            {% elif category == 1 %}

                <li>
                    <a href="#" class="icon fa-angle-down">Control de acceso</a>
                    <ul>
                        <li><a href="#">Quien hay en casa</a></li>
                    </ul>
                </li>

            {% endif %}
            {% if session['logged_in'] %}
                <li><a href="logOut" class="button special">Log Out</a></li>
            {% else %}
                <li><a href="signUp" class="button">Sign Up</a></li>
                <li><a href="logIn" class="button special">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
</header>

<!--
    En este bloque se van a representar los distintos contenidos de la web
-->
{% block content %}    {% endblock %}

<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; CCC</li>
        <li>Adrián Alonso del Peso <a href="https://github.com/Abbalon">GitHub</a></li>
    </ul>
</footer>

</div>

<!-- Scripts -->

<!-- Código para Flask -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrollgress.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/skel.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<!-- Fin Código para Flask -->

</body>
</html>
