<!DOCTYPE HTML>
<!--
	@autor: Adrián Alonso del Peso
	@project: TFG
-->
<!--
	@doc: Este archivo contiene las partes comunes a todo el dominio (Hojas de estilos, cabeceras, ejecutables, pies, ...)
-->
<html lang="en">
<head>
    <!-- Permite que cada HTML redefina su 'title' -->
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="static/js/ie/html5shiv.js"></script><![endif]-->

    <!--[if lte IE 8]>
    <link rel="stylesheet" href="static/css/ie8.css"/><![endif]-->

    <!-- Flask -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert.js') }}"></script>
    <!-- Fin Flask -->

    <!-- Scripts específicos de cada vista -->
    {#    En este espacio se podrán cargar los scripts/links necesarios para cada vista#}
    {% block head_scripts %}{% endblock %}
    <!-- Fin Scripts específicos de cada vista -->

</head>

{% if base.dynamic == 1 %}
    {# ponemos el navbar transparente #}
    <body class="landing">
    <!-- Navbar dynamic {{ base.dynamic }}-->
    <!-- <header id="header" class="alt"> -->
    <div id="page-wrapper">
    <header id="header" class="alt">
{% else %}
    <body>
    <!-- Navbar dynamic {{ base.dynamic }} -->
    <!-- <header id="header"> -->
    <div id="page-wrapper">
    <header id="header">
{% endif %}


<h1><a href="/">TFG</a> by Adrián Alonso del Peso</h1>
<nav id="nav">
    <ul>
        {#Home#}
        <li><a href="/">Home</a></li>
        {#    Elements#}
        {#        <li><a href="/elements">Elements</a></li>#}
        {% if base.category == 3 %}
            {#Vista del navbar del Administrador#}
            <li>{#Dispositivos#}
                <a href="#" class="icon fa-angle-down">Dispositivos</a>
                <ul>
                    {#Listar dispositivos#}
                    <li><a href="/device/list">Listar dispositivos</a></li>
                </ul>
            </li>
        {% endif %}
        {% if base.category in [2, 3] %}
            <li>{#Mantenimiento#}
                <a href="#" class="icon fa-angle-down">Mantenimiento</a>
                <ul>
                    {#Usuarios#}
                    <li><a href="#" class="icon fa-angle-left"> Usuarios</a>
                        <ul>
                            <li><a href="/admin/update_category">Cambiar permisos</a></li>
                            <li><a href="/admin/validate">Validar usuarios</a></li>
                            <li><a href="/signUp">Alta usuarios</a></li>
                        </ul>
                    </li>
                    {#Tarjetas#}
                    <li><a href="#" class="icon fa-angle-left"> Tarjetas</a>
                        <ul>
                            <li><a href="/card/show_card">Mostrar tarjetas</a></li>
                            <li><a href="/card/new_card">Nueva tarjeta</a></li>
                        </ul>
                    </li>

                    {#Informes#}
                    <li>
                        <a href="#" class="icon fa-angle-left"> Informes</a>
                        <ul>
                            <li><a href="/user/all">Mostar usuarios</a></li>
                            <li><a href="/transit/get">Mostar transito</a></li>
                        </ul>
                    </li>

                    {% if base.category == 3 %}
                        {#Base de datos#}
                        <li>
                            <a href="#" class="icon fa-angle-left"> Base de datos</a>
                            <ul>
                                <li><a href="#"># Borrar</a></li>
                                <li><a href="#"># Back Up</a></li>
                                <li><a href="#"># Restaurar</a></li>
                            </ul>
                        </li>
                    {% endif %}

                </ul>
            </li>
        {% endif %}

        {% if base.category in [1, 2] %}
            {#Vista del navbar del watchdog#}

            {#Control de acceso#}
            <li>
                <a href="#" class="icon fa-angle-down">Control de acceso</a>
                <ul>
                    <li><a href="{{ url_for('transit.who_is') }}">Quien hay en casa</a></li>
                    {% if base.category == 2 %}
                        <li><a href="#"># Abrir puerta</a></li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if session['logged_in'] %}
            <li><a href="/logOut" class="button special">Log Out ({{ base.name.upper() }})</a></li>
        {% else %}
            <li><a href="/signUp" class="button">Sign Up</a></li>
            <li><a href="/logIn" class="button special">Log In</a></li>
        {% endif %}
    </ul>
</nav>
</header>

<!-- Content -->
{% block content %}    {% endblock %}

<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; CCC</li>
        <li>Adrián Alonso del Peso <a href="https://github.com/Abbalon">GitHub</a></li>
    </ul>
</footer>

</div>

<!-- Scripts -->
<!-- Código para Flask -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrollgress.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<!-- Fin Código para Flask -->
<!-- Scripts específicos de cada vista -->
{#    En este espacio se podrán cargar los scripts/links necesarios para cada vista#}
{% block foot_scripts %}{% endblock %}
<!-- Fin Scripts específicos de cada vista -->

<!--</body>-->
</body>

</html>
