{% extends 'shared/base.html' %}

{% from "_macroForm.html" import render_field as Render_field %}

<!-- Asigna el 'title' deseado a la página -->
{% block title %}
    {{ base.title }}
{% endblock %}

<!-- Incorpora los scripts necesarios para la vista -->
{% block foot_scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/device.js') }}"></script>
{% endblock %}

{% block content %}

    <!-- Main -->
    <section id="main" class="container 75%">
        <header>
            <h2>{{ body.header }}</h2>
        </header>

        {# Si hay dispositivos registrados#}
        {% if body.data %}
            <div id="accordion">
                {# Empieza el for#}
                {% for device, actions in body.data.items() %}
                    <div class="row uniform 50%">
                        <div class="12u">
                            <h3 class="button fit small">{{ device.name }}</h3>
                            <section class="box">
                                <div class="table-wrapper actions">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th><h4>Descripción</h4></th>
                                            <th><h4>Acción</h4></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for action in actions %}
                                            <tr>
                                                <td>{{ action.description }}</td>
                                                <td class="action">
                                                    <a target="{{ url_for('device.do_action', dev=device.id, act=action.id) }}"
                                                       class="button special small fit">{{ action.name }}</a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </section>
                        </div>
                    </div>
                {% endfor %}
                {# Fin del for#}
            </div>
            {#Si nos los hay#}
        {% else %}
            <div class="row">
                <div class="12u">
                    <section class="box">
                        <h3>No se han encontrado dispositivos registrados en el sistema</h3>
                        <blockquote>
                            Para dar de alta un dispositivo, dirijase a la pantalla de <a href="/device/new">Alta
                            dispositivo</a>
                        </blockquote>
                    </section>
                </div>
            </div>
        {% endif %}

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <section id="flashes" class="container 75%">
                    <!-- Mensajes flash -->
                    <div class="row uniform 50%">
                        <div class="12u">
                            <!-- Text -->
                            <section class="box special">
                                <header>
                                    <h3>Mensajes entrantes</h3>
                                </header>
                                <hr/>
                                <ul class=flashes>
                                    {% for category, message in messages %}
                                        <li class="{{ category }}">{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </section>
                        </div>
                    </div>
                </section>
            {% endif %}
        {% endwith %}
    </section>

{% endblock %}

