{% extends 'shared/base.html' %}

{% from "_macroForm.html" import render_field as Render_field %}

<!-- Asigna el 'title' deseado a la página -->
{% block title %}
    {{ base.title }}
{% endblock %}

{% block content %}

    <!-- Main -->
    <section id="main" class="container 75%">
        <header>
            <h2>{{ body.header }}</h2>
        </header>
        <div id="accordion">
            {# Empieza el for#}
            <div class="row uniform 50%">
                <div class="12u">
                    <h3 class="button fit small">Section 1</h3>
                    <div class="box">
                        <div class="3u 6u$(narrower) 12u$(mobilep)">
                            <ul class="actions vertical small">
                                <li><a href="#" class="button special small fit">Section 1</a></li>
                                <li><a href="#" class="button special small fit">Section 1</a></li>
                                <li><a href="#" class="button special small fit">Section 1</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {# Fin del for#}
    </section>

{% endblock %}
