{% extends 'shared/base.html' %}

<!-- Asigna el 'title' deseado a la página -->
{% block title %}
    {{ base.title }}
{% endblock %}

{% block content %}

    <!-- Main -->
    <section id="main" class="container 75%">

        {% if results %}
            <header>
                <h2>Mostrando los datos de {{ table }} validados</h2>
            </header>

            <div class="row">
                <div class="12u">

                    <!-- Table -->
                    <section class="box">
                        <h3>{{ table }}</h3>
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                <tr>
                                    <th>Grupo</th>
                                    <th>Nombre usuario</th>
                                    <th>Email</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for row in results %}
                                    <tr>
                                        <td>{{ row.category }}</td>
                                        <td>{{ row.name }}</td>
                                        <td>{{ row.email }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </section>

                </div>
            </div>
        {% else %}
            <header>
                <h2>La consulta está vacia</h2>
            </header>
        {% endif %}
    </section>

{% endblock %}
