{% extends 'shared/base.html' %}

{% from "_macroForm.html" import render_field as Render_field %}

<!-- Asigna el 'title' deseado a la página -->
{% block title %}
    {{ base.title }}
{% endblock %}

{% block content %}

    <!-- Main -->
    <section id="main" class="container 75%">

        {% if results %}
            <header>
                <h2>Usuarios pendientes de confirmación</h2>
            </header>

            <div class="row">
                <div class="12u">

                    <!-- Table -->
                    <section class="box">
                        <h3>Listado de usuarios</h3>
                        <div class="table-wrapper">
                            <table>
                                <form method="POST">
                                    <thead>
                                    <tr>
                                        <th>Grupo</th>
                                        <th>Nombre usuario</th>
                                        <th>Email</th>
                                        <th>Validar</th>
                                        <th>Denegar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in results %}
                                        <tr>
                                            <td>{{ row.category }}</td>
                                            <td>{{ row.name }}</td>
                                            <td>{{ row.email }}</td>
                                            <td><input type="checkbox" id="val_{{ row.id }}" name="verified"
                                                       value="{{ row.id }}"/> <label for="val_{{ row.id }}"></label>
                                            </td>
                                            <td><input type="checkbox" id="den_{{ row.id }}" name="denied"
                                                       value="{{ row.id }}"/> <label for="den_{{ row.id }}"></label>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <!-- Prevención de ataques CSRF -->
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td> {{ form.submit }} </td>
                                    </tr>
                                    </tfoot>
                                </form>
                            </table>
                        </div>
                    </section>

                </div>
            </div>
        {% else %}
            <header>
                <h2>La consulta está vacia</h2>
            </header>
        {% endif %}
    </section>

{% endblock %}